// @media (max-width: 1200px)

@media (max-width: 991px) {
	.container {
		width: 700px;
	}

	.promo__wrapper {
		align-items: center;
	}

	.advantage__wrapper {
		flex-direction: column;
	}
}

@media (max-width: 767px) {
	.container {
		width: 560px;
	}

	.promo {
		&__header {
			font-size: 30px;
		}
		&__subheader {
			font-size: 20px;
		}
	}

	.header {
		&img {
			width: 80%;
		}
		&__phone {
			font-size: 15px;
		}

		&__logo {
			width: 180px;
			img {
				width: 100%;
			}
		}
	}

	@media (max-width: 575px) {
		.advantage {
			padding-top: 30px;
			&__wrapper {
				margin-top: 20px;
			}
		}


		.container {
			width: 100%;
		}

		.header {
			width: 100%;
			padding: 0 10px;
			&__logo img {
				width: 80%;
			}
			&__official {
				display: none;
			}
		}

		.promo {
			min-height: 560px;
    		padding: 10px 0 20px 0;
			&__wrapper {
				margin: 30px 5px 0;
			}
			&__header {
				font-size: 25px;
				text-align: center;
			}
			&__subheader {
				font-size: 18px;
				text-align: center;
			}
		}

		.promo__icons {
			margin-top: 30px;
			width: 100%;
			padding: 0 5px;
		}
	}
}
